<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800123758723-e44d1tepihd7d9vamhol89bl1ba78veo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800123758723-e44d1tepihd7d9vamhol89bl1ba78veo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>800123758723-9lborot1bag7hq39fltj6417nsuj6dos.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC79vwFMZI1zH01BiojnyIJNeVmpBu7HUU</string>
	<key>GCM_SENDER_ID</key>
	<string>800123758723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worship.hymn</string>
	<key>PROJECT_ID</key>
	<string>worship-hymn</string>
	<key>STORAGE_BUCKET</key>
	<string>worship-hymn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800123758723:ios:96b1184fb820300a2393b6</string>
</dict>
</plist>