<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>

	<!-- 카카오/네이버 앱 호출 허용 -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>naver</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>

	<!-- URL Types: Google + Naver -->
	<key>CFBundleURLTypes</key>
	<array>
		<!-- Google -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.800123758723-vsj9al4l2llgpg86kmd9uu4932ktuqd4</string>
			</array>
		</dict>

		<!-- Naver -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Client ID 기반 URL Scheme -->
				<string>naveruCalTrNx7kUnkKbdsV7L</string>
			</array>
		</dict>
	</array>

	<!-- 앱 이름 -->
	<key>CFBundleDisplayName</key>
	<string>예배찬송가</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>worship_hymn</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>

	<!-- 🔑 네이버 로그인 전용 설정 -->
    <key>NaverServiceAppName</key><string>예배 찬송가</string>
    <key>NaverServiceAppUrlScheme</key><string>naveruCalTrNx7kUnkKbdsV7L</string>
    <key>NaverConsumerKey</key><string>uCalTrNx7kUnkKbdsV7L</string>
    <key>NaverConsumerSecret</key><string>AdDC6nLXyg</string>
  </dict>
</plist>
